<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kornperkus.nodementia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/menuStyle"></activity>
        <activity
            android:name=".Page1Activity"
            android:theme="@style/Page1"></activity>
        <activity
            android:name=".Page2Activity"
            android:theme="@style/Page2"></activity>
        <activity
            android:name=".Page3Activity"
            android:theme="@style/Page3"></activity>
        <activity
            android:name=".Page4Activity"
            android:theme="@style/Page4"></activity>
        <activity
            android:name=".Page5Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".Page6Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".Page7Activity"
            android:theme="@style/Page5">

        </activity>


        <!-- MMSE -->
        <activity
            android:name=".mmse.Mmse1_1Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse1_2Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse1_3Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse1_4Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse1_5Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse2_1_1Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_1_2Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_1_3Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_1_4Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_1_5Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_2_1Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse2_2_2Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_2_3Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_2_4Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse2_2_5Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse3Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse4Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse4_1Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse4_2Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse5Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse6_1Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse6_2Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse7Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse8Activity"
            android:theme="@style/Page5">
        </activity>
        <activity
            android:name=".mmse.Mmse9Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse10Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.Mmse11Activity"
            android:theme="@style/Page5"></activity>
        <activity
            android:name=".mmse.MmseFinalActivity"
            android:theme="@style/Page5">
        </activity>

        <!-- Page 7 -->
        <activity
            android:name=".page7.Page1Activity"
            android:theme="@style/Page7_1"></activity>
        <activity
            android:name=".page7.Page2Activity"
            android:theme="@style/Page7_2"></activity>
        <activity
            android:name=".page7.Page3Activity"
            android:theme="@style/Page7_3"></activity>
        <activity
            android:name=".page7.Page4Activity"
            android:theme="@style/Page7_4"></activity>
        <activity
            android:name=".page7.Page5Activity"
            android:theme="@style/Page7_5"></activity>
        <activity
            android:name=".page7.Page6Activity"
            android:theme="@style/Page7_6"></activity>
        <activity
            android:name=".page7.Page7Activity"
            android:theme="@style/Page7_7"></activity>
        <activity
            android:name=".page7.Page8Activity"
            android:theme="@style/Page7_8"></activity>
        <activity
            android:name=".page7.Page9Activity"
            android:theme="@style/Page7_9"></activity>


    </application>

</manifest>